body {
    font-family: Roboto, sans-serif; 
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 0 50px 0 50px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}
ul {

    display: inline-flex;
    gap: 10px;
    list-style-type: none;
}

a, 
#text2 {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

section {
    display: flex;
    align-items: stretch;
    padding: 10px;
}

#welcome-section {
    color: white;
    background-color: #1F2937;
    padding: 20px 50px;
    gap: 10px;
}

#welcome-section button {
    background-color: #3882F6;
    border: none;
    border-radius: 10%;
    color: white; 
    height: 50px;
    width: 100px;
}

.welcome-msg {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.welcome-img {
    flex: 1; 
    height: auto; 
}


.welcome-msg #text1 {
    /* 48px #F9FAF8 weight: 900 */
    font-size: 48px;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100%;
    background-color: grey;
    font-size: 10px;
    
    /* border-radius: 10px; */
}

