body {
    font-family: Roboto, sans-serif; 
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header,
footer {
    color: white;
    display: flex;
    align-items: center;
    background-color: #1F2937;
    padding: 0 200px;
}

header {
    justify-content: space-between;
}

footer {
    justify-content: center;
    padding: 20px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}
ul {
    display: inline-flex;
    gap: 10px;
    list-style-type: none;
}

a, 
#text2 {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

section {
    display: flex;
    padding: 10px;
}

#welcome-section, 
#information-section {
    padding: 20px 200px;
    gap: 10px;
}

#welcome-section {
    justify-content: space-between;
    color: white;
    background-color: #1F2937;
}

#welcome-section button {
    background-color: #3882F6;
    border: none;
    border-radius: 10%;
    color: white; 
    height: 50px;
    width: 100px;
}

.welcome-msg {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.welcome-img {
    flex: 1; 
    height: auto; 
}


.welcome-msg #text1 {
    /* 48px #F9FAF8 weight: 900 */
    font-size: 48px;
}

.img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: grey;
    font-size: 10px;
    
    /* border-radius: 10px; */
}

#information-section {
    flex-direction: column;
    gap: 20px;
    padding: 20px 300px;
}

.information-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

#rndm-info {
    /* 36px #1F2937 weight: 900 */
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
}

.illustration {
    border: 3px solid #3882F6;
    border-radius: 10%;
    height: 150px;
    width: 150px;
}

.img-container p {
    text-align: center;
}

#quote-section {
    flex-direction: column;
    padding: 50px 300px;
    background-color: #E5E7EB;
}

#quote-section :first-child {
    /* 36px #1F2937 weight: 300 */
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}
#quote-section :last-child {
    text-align: end;
    font-weight: bold;
}

#signUp-section {
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 100px 300px;
    padding: 20px 100px;
    border-radius: 5px;
    background-color: #3882F6;
    color: #E5E7EB;
}

#signUp-section .welcome-msg :first-child {
    font-weight: bold;
}

#signUp-section :last-child button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: 1px solid #F9FAF8;
    border-radius: 5px;
    width: 100px;
    box-sizing: border-box;
    padding: 5px 20px;
}

